/* css styles */


table.bordered {
  border-collapse: collapse;
  width: 100%;
}

table.bordered td {
  border: 1px solid #aaa;
  padding: 8px;
  vertical-align: top;
}

/* Increase size of logo in navbar */
.navbar-logo {
  max-height: 60px;
}

.author-text {
  font-size: 14px;
}

.footnotes {
  font-size: 8px;
}
