/* css styles */


table.bordered {
  border-collapse: collapse;
  width: 100%;
}

table.bordered td {
  border: 1px solid #aaa;
  padding: 8px;
  vertical-align: top;
}

/* Increase size of logo in navbar */
.navbar-logo {
  max-height: 60px;
}

.author-text {
  font-size: 0.8em;
}

#quarto-sidebar {
  position: absolute;
  left: -9999px;
  visibility: hidden;
}

/* ↑ Supprime l’espace laissé par la sidebar */
body.nav-sidebar .quarto-content,
body.nav-sidebar .sidebar-margin {
  margin-left: 0 !important;
}

/* cache aussi l’icône menu (mobile/tablette) */
.quarto-btn-toggle {
  display: none !important;
}
